<form name="Form" id="form" novalidate ng-submit="form.submit(Form, despesa)">
	<table class="table no-bg">
		<tr>
			<td>Categoria: <span class="symbol required"></span></td>
			<td ng-class="{'has-error':Form.Categoria.$dirty && Form.Categoria.$invalid, 'has-success':Form.Categoria.$valid}">
				<select id="sel" class="form-control" name="Categoria" ng-model="despesa.CategoriaFinanceiraId" ng-options="obj.CategoriaFinanceiraId as obj.Categoria for obj in vm.categorias" required>
				</select>
				<span class="error text-small block" ng-if="Form.Categoria.$dirty && Form.Categoria.$error.required">Informe a Categoria</span>
			</td>
			<td>Nome: <span class="symbol required"></span></td>
			<td colspan="2" ng-class="{'has-error':Form.Nome.$dirty && Form.Nome.$invalid, 'has-success':Form.Nome.$valid}">
				<input class="form-control" type="text" name="Nome" ng-model="despesa.Nome" required>
				<span class="error text-small block" ng-if="Form.Nome.$dirty && Form.Nome.$error.required">Informe o Nome da Receita</span>
			</td>
		</tr>
		<tr>
			<td>Valor: <span class="symbol required"></span></td>
			<td ng-class="{'has-error':Form.Valor.$dirty && Form.Valor.$invalid, 'has-success':Form.Valor.$valid}">
				<input class="form-control" type="text" mask-money prefix="R$ " name="Valor" ng-model="despesa.Valor" required>
				<span class="error text-small block" ng-if="Form.Valor.$dirty && Form.Valor.$error.required">Informe o Valor</span>                
			</td>
			<td>Observação: </td>
			<td>
				<textarea class="form-control" rows="3" style="resize: vertical" name="Observacao" ng-model="despesa.Observacao"/>
			</td>
			<td colspan="2">
				<div class="pull-right">
					<input type="submit" class="btn btn-primary btn-sm margin-right-15" value="Cadastrar">
					<input type="button" class="btn btn-primary btn-sm margin-right-15" value="Cancelar" ng-click="cancelCreate(Form)">
				</div>
			</td>
		</tr>
	</table>
</form>
