<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle">Despesas</h1>
            <span class="mainDescription">Por padrão é listado os títulos do mês atual em ordem de vencimento. </span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<div ng-show="loading">
    <img src="/assets/images/loading.gif" />Carregando Despesas...</div>
<div class="container-fluid container-fullw bg-white" ng-show="!loading">
    <div ng-include src="'app/views/despesas/partial/searchDespesas.html'"></div>
    <div class="row">
        <div class="col-md-6">
            <button type="button" class="btn btn-primary btn-wide btn-scroll btn-scroll-top ti-plus" ng-click="openCadastrar()">
                <span>Cadastrar</span>
            </button><br/><br/>
        </div>
        <div class="col-md-6">
            <h5 class="pull-right ">Total: <span class="badge badge-info">{{total}}</span></h5>
        </div>
    </div>    
    <div class="row">
        <div class="col-md-12">
            <span class="input-icon">
                <input type="text" ng-model="searchText" class="input-sm form-control" placeholder="Pesquisar...">
                <i class="ti-search"></i>
            </span><br/>
            <div class="table-responsive">
                <table ng-table="tableParams" class="table">
                    <tbody ng-repeat="d in $data">
                    <tr ng-class-odd="'odd'" ng-class-even="'even'">
                        <td class="rowTd" style="max-width: 25px;"><a ng-click="openFicha(d)" class="btn" tooltip-placement="top" tooltip="Ficha"><i class="ti-id-badge"></i></a></td>
                        <td class="rowTd" data-title="'Categoria'" sortable="'CategoriaFinanceira.Categoria'">{{d.CategoriaFinanceira.Categoria}}</td>
                        <td class="rowTd" data-title="'SubCategoria'" sortable="'SubCategoriaFinanceira.SubCategoria'">{{d.SubCategoriaFinanceira.SubCategoria}}</td>
                        <td class="rowTd" data-title="'Fornecedor'" sortable="'Fornecedores.Nome'">{{d.Fornecedores.Nome}}</td>
                        <td class="rowTd" data-title="'Tipo Pag.'" sortable="'TipoPagamento.Descricao'">({{d.TipoPagamento.Sigla}}) {{d.TipoPagamento.Descricao}}</td>
                        <td class="rowTd" data-title="'Dt. Emissão'" sortable="'DataEmissao'">{{d.DataEmissao | date:'dd/MM/yyyy'}}</td>
                        <td class="rowTd" data-title="'Dt. Vencimento'" sortable="'DataVencimento'">{{d.DataVencimento | date:'dd/MM/yyyy'}}</td>
                        <td class="rowTd" data-title="'Dt. Pagamento'" sortable="'DataPagamento'">{{d.DataPagamento | date:'dd/MM/yyyy'}}</td>
                        <td class="rowTd" data-title="'Valor Pago'" sortable="'ValorTotal'">
                        <div class="text-primary">{{d.ValorTotal | currency: 'R$ '}}</div></td>
                        <td class="rowTd" data-title="'Situacao'" sortable="'Situacao'">{{d.Situacao}}</td>
                        <td class="text-right">
                            <div class="visible-md visible-lg hidden-sm hidden-xs">
                                <a ng-click="openEditar(d)" class="btn btn-xs" tooltip-placement="top" tooltip="Editar"><i class="fa fa-pencil"></i></a>
                                <a ng-click="delete(d.DespesasId)" class="btn btn-xs" tooltip-placement="top" tooltip="Excluir"><i class="fa fa-times"></i></a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                        <tr height="70px">
                            <td colspan="8" class="text-primary">Quitado: <b class="text-primary"> {{totalQuitado | currency:' R$ '}}  | </b> Pendente: <b class="text-danger">{{totalPendente | currency:' R$ '}}</b></td>
                            <td colspan="3" class="text-bold">
                                <div class="text-primary">Total:{{totalQuitado + totalPendente + totalVencido | currency:' R$ '}}</div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>