<div class="modal-header">
    <h3 class="modal-title">Despesa</h3>
</div>
<div class="modal-body">
    <ul>
        <li ng-repeat="error in vm.errors" class="text-danger">{{error}}</li>
    </ul>
    <form name="Form" novalidate ng-submit="form.submit(Form, despesa)">
        <div class="checkbox clip-check check-primary check-md">
        </div>
        <table class="table no-bg">
            <tr>
                <td style="min-width: 130px">Documento: </td>
                <td> <input class="form-control input-sm" type="text" name="Nome" ng-model="despesa.Documento"> </td>
                <td>Categoria: </td>
                <td ng-class="{'has-error':Form.CategoriaFinanceira.$dirty && Form.CategoriaFinanceira.$invalid, 'has-success':Form.CategoriaFinanceira.$valid}">
                    <select name="CategoriaFinanceira" ng-model="despesa.CategoriaFinanceiraId" ng-change="carregarSubcategorias()" class="text-bold" required>
                        <option ng-selected="despesa.CategoriaFinanceiraId == null" value="">Selecione...</option>
                        <option ng-selected="despesa.CategoriaFinanceiraId == c.CategoriaFinanceiraId" ng-repeat="c in categorias" ng-value="c.CategoriaFinanceiraId">{{c.Categoria}}</option>
                    </select>
                    <span class="error text-small block" ng-if="Form.CategoriaFinanceira.$dirty && Form.CategoriaFinanceira.$invalid">Informe a Categoria</span>
                </td>
                <td>SubCategoria:</td>
                <td style="max-width:120px">
                    <select ng-disabled="despesa.CategoriaFinanceiraId == null" ng-model="despesa.SubCategoriaFinanceiraId" name="SubCategoriaFinanceira" class="text-bold">
                        <option ng-selected="despesa.SubCategoriaFinanceiraId == null" value="">Selecione...</option>
                        <option ng-selected="despesa.SubCategoriaFinanceiraId == sc.SubCategoriaFinanceiraId" ng-repeat="sc in subcategorias" value="{{sc.SubCategoriaFinanceiraId}}">{{sc.SubCategoria}}</option>
                    </select>
                </td>                 
            </tr>
            <tr>
                <td>Fornecedor: </td>
                <td colspan="2">
                    <select name="Fornecedores" ng-model="despesa.FornecedorId" class="text-bold">
                        <option ng-selected="despesa.FornecedorId == null" value=""><b>Selecione...</b></option>
                        <option ng-selected="despesa.FornecedorId == fo.FornecedorId" ng-repeat="fo in fornecedores" value="{{fo.FornecedorId}}">{{fo.Nome}}</option>
                    </select>
                </td>
                <td>Funcionário: </td>
                <td colspan="2">
                    <select name="Funcionarios" ng-model="despesa.FuncionarioId" class="text-bold">
                        <option ng-selected="despesa.FuncionarioId == null" value="">Selecione...</option>
                        <option ng-selected="despesa.FuncionarioId == f.FuncionarioId" ng-repeat="f in funcionarios" ng-value="f.FuncionarioId">{{f.Nome}}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Valor: <span class="symbol required"></span></td>
                <td ng-class="{'has-error':Form.Valor.$dirty && Form.Valor.$invalid}">
                    <input class="form-control input-sm" name="Valor" type="text" ng-model="despesa.Valor" ng-blur="soma()" mask-money requied>
                    <span class="error text-small block" ng-if="Form.Valor.$dirty && Form.Valor.$invalid">Informe o Valor</span>
                </td>
                <td>Juros: </td>
                <td>
                    <input class="form-control input-sm" mask-money type="text" ng-model="despesa.Juros">
                </td>
                <td>Multa: </td>
                <td>
                    <input class="form-control input-sm" mask-money type="text" ng-model="despesa.Multa">
                </td>
            </tr>
            <tr>
                <td>Tipo Pagamento: </td>
                <td colspan="3">
                    <select name="TipoPagamento" ng-model="despesa.TipoPagamentoId" class="text-bold">
                        <option ng-selected="despesa.TipoPagamentoId == null" value="">Selecione...</option>
                        <option ng-selected="despesa.TipoPagamentoId == t.TipoPagamentoId" ng-repeat="t in tiposPagamento" value="{{t.TipoPagamentoId}}">{{t.Sigla}} - {{t.Descricao}}</option>
                    </select>                 
                </td>
                <td>Valor Total: </td>
                <td><b class="text-red">{{despesa.ValorTotal = despesa.Valor + despesa.Juros + despesa.Multa | currency:'R$ '}}</b><td>
            </tr>
            <tr>
                <td >Data Vencimento: <span class="symbol required"></span></td>
                <td colspan="2" ng-class="{'has-error':Form.Vencimento.$dirty && Form.Vencimento.$invalid, 'has-success':Form.Vencimento.$valid}">
                    <input class="form-control input-sm" name="Vencimento" type="date" ng-model="despesa.DataVencimento" required>
                    <span class="error text-small block" ng-if="Form.Vencimento.$error.date">Data de Vencimento inválida.</span>
                    <span class="error text-small block" ng-if="Form.Vencimento.$dirty && Form.Vencimento.$invalid">Informe a Data de Vencimento</span>
                </td>
                <td >Data Pagamento: </td>
                <td colspan="2" ng-class="{'has-error':Form.Pagamento.$dirty && Form.Pagamento.$invalid}">
                    <input class="form-control input-sm" name="Pagamento" type="date" ng-model="despesa.DataPagamento">
                    <span class="error text-small block" ng-if="Form.Pagamento.$error.date">Data de Nascimento inválida.</span>
                </td>
                
            </tr>
            
            <tr>
                <td>Observação: </td>
                <td colspan="5">
                    <textarea class="form-control input-sm" style="resize: none;" ng-model="despesa.Observacao" rows="3"></textarea>
                </td>
            </tr>
        </table>

        <!-- class="editRowTd" -->
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary btn-o">Salvar</button>
            <button type="button" class="btn btn-primary btn-o" ng-click="vm.cancel()">Fechar</button>
        </div>
    </form>
</div>
