<div class="row">
    <div class="col-md-12">
        <div class="panel panel-white" id="panel1">
            <div class="panel-heading">
                <h4 class="panel-title text-primary">Filtros</h4>
            </div>
            <div class="panel-wrapper">
                <div class="panel-body">
                    <div class="col-md-3">
                        <h6>Tipo</h6>
                        <select class="form-control" ng-change="filterCategorias(filter.Tipo)" ng-model="filter.Tipo">
                            <option ng-value="null">Todos </option>
                            <option ng-value="Receitas">Receitas</option>
                            <option ng-value="Despesas">Despesas</option>
                        </select>
                        <br />
	                    <h6>Categoria</h6>
                        <!--<select ng-model="filter.Categoria" ng-options="c.Categoria as c.Categoria for c in vm.categorias">
                          <option value="">.:: Todas Categorias ::.</option>
                        </select>-->
                        <select class="form-control" ng-model="filter.Categoria" ng-options="c.Categoria as c.Categoria for c in vm.categorias">
	                        <option value="">.:: Todas Categorias ::.</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <h6>Nome</h6>
                        <input type="text" ng-model="filter.Nome" style="width: 100%" />
                    </div>
                    <div class="col-md-5 pull-right">
                        <h4>Data</h4>
                        <div class="input-group">
                            <div class="input-group">
                                <input type="date" ng-model="filter.DataInicio" name="from" id="from"/>
                                <span class="input-group-addon">to</span>
                                <input type="date" ng-model="filter.DataFim"    name="to"   id="to"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 pull-right">
                        <a class="btn btn-wide btn-blue pull-right" ng-click="vm.pesquisar(filter)"><i class="fa fa-search"></i>Pesquisar</a>
                        <a class="btn btn-wide btn-blue pull-right" ng-click="vm.clear()"><i class="fa fa-refresh"></i>Limpar</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script>
    $('#from, #to').on('focus', function(){
        $('#to').attr('min', $('#from').val());
        $('#from').attr('max', $('#to').val());        
    });    
</script>

