<form name="Form" id="form" novalidate ng-submit="form.submit(Form, fila)">
    <table class="table no-bg">
        <tr>
            <td>Data Reserva: <span class="symbol required"></span></td>
            <!--<td ng-class="{'has-error':Form.DataReserva.$dirty && Form.DataReserva.$invalid, 'has-success':Form.DataReserva.$valid}">
                <div class="form-horizontal">
                    <p class="input-group  margin-top-10">
                        <input type="text" name="DataReserva" disabled class="form-control" datepicker-popup="dd/MM/yyyy" ng-model="fila.DataReserva"
                               is-open="opened[$index]" datepicker-options="dateOptions"
                               ng-required="true" close-text="Fechar"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open($index)">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                        
                    </p>
                </div>
                <span class="error text-small block" ng-if="Form.DataReserva.$dirty && Form.DataReserva.$invalid">Informe a Data da Reserva</span>
            </td>-->
            <td ng-class="{'has-error':Form.DataReserva.$dirty && Form.DataReserva.$invalid, 'has-success':Form.DataReserva.$valid}">
                <input class="form-control input-sm" name="DataReserva" type="date" ng-model="fila.DataReserva" required>
                <span class="error text-small block" ng-if="Form.DataReserva.$dirty && Form.DataReserva.$invalid">Informe a Data Reserva</span>
                <span class="error text-small block" ng-if="Form.DataReserva.$dirty && Form.DataReserva.$error.date">Data inválida</span>
            </td>
            <td>Nome: <span class="symbol required"></span></td>
            <td ng-class="{'has-error':Form.Nome.$dirty && Form.Nome.$invalid, 'has-success':Form.Nome.$valid}">
                <input class="form-control" type="text" name="Nome" ng-model="fila.Nome" required>
                <span class="error text-small block" ng-if="Form.Nome.$dirty && Form.Nome.$invalid">Informe o Nome</span>
            </td>
            <td>Email: </td>
            <td colspan="2">
                <input class="form-control" type="text" name="Email" ng-model="fila.Email">
            </td>
        </tr>
        <tr>
            <td>Telefone:</td>
            <td>
                <input class="form-control" type="text" name="Telefone" ng-model="fila.Telefone" ui-mask="?9999-9999">
            </td>
            <td>Celular</td>
            <td>
                <input class="form-control" type="text" name="Celular" ng-model="fila.Celular" ui-mask="?99999-9999">
            </td>
            <td>Horário: </td>
            <td>
                <input class="form-control w100" type="number" name="Hora" min="6" max="20" maxlength="2" ng-model="fila.Hora">
                <span class="error text-small block" ng-if="Form.Hora.$dirty && Form.Hora.$invalid">Horário deve ser entre 06h às 20h</span>
            </td>
            <td colspan="2">
                <div class="pull-right">
                    <input type="submit" class="btn btn-primary btn-sm margin-right-15" value="Cadastrar">
                    <input type="button" class="btn btn-primary btn-sm margin-right-15" value="Cancelar" ng-click="cancelCreate(Form)">
                </div>
            </td>
        </tr>
    </table>
    <!-- class="editRowTd" -->
</form>
