<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle">Horários</h1>
            <span class="mainDescription">Lista de Horários dos Clientes</span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<div ng-show="loading"><img src="assets/images/loading.gif" />Carregando Horários...</div>
<div class="container-fluid container-fullw" ng-show="!loading">
    <div class="row">
        <div class="col-md-12">
            <div>
                <div class="table-responsive">
                    <table ng-table="tableParams" class="table table-striped">
                        <tr>
                            <td style="width: 25%">Hora</td>
                            <td style="width: 15%">Segunda-feira</td>
                            <td style="width: 15%">Terça-feira</td>
                            <td style="width: 15%">Quarta-feira</td>
                            <td style="width: 15%">Quinta-feira</td>
                            <td style="width: 15%">Sexta-feira</td>
                        </tr>
                        <tr>
                            <td>06:00 - 07:00</td>
                            <td><span class="badge" ng-class="{'badge-success': horario.Segunda06 <= 15, 'badge-warning': horario.Segunda06 > 15 && horario.Segunda06 <= 17, 'badge-danger': horario.Segunda06 > 17}">{{horario.Segunda06}}</span></td>
                            <td><span class="badge" ng-class="{'badge-success': horario.Terca06   <= 15, 'badge-warning': horario.Terca06   > 15 && horario.Terca06   <= 17, 'badge-danger': horario.Terca06   > 17}">{{horario.Terca06}}</span></td>
                            <td><span class="badge" ng-class="{'badge-success': horario.Quarta06  <= 15, 'badge-warning': horario.Quarta06  > 15 && horario.Quarta06  <= 17, 'badge-danger': horario.Quarta06  > 17}">{{horario.Quarta06}}</span></td>
                            <td><span class="badge" ng-class="{'badge-success': horario.Quinta06  <= 15, 'badge-warning': horario.Quinta06  > 15 && horario.Quinta06  <= 17, 'badge-danger': horario.Quinta06  > 17}">{{horario.Quinta06}}</span></td>
                            <td><span class="badge" ng-class="{'badge-success': horario.Sexta06   <= 15, 'badge-warning': horario.Sexta06   > 15 && horario.Sexta06   <= 17, 'badge-danger': horario.Sexta06   > 17}">{{horario.Sexta06}}</span></td>
                        </tr>
                        <tr>
                            <td>07:00 - 08:00</td>
                            <td><span class="badge" ng-class="{'badge-success': horario.Segunda06 <= 15, 'badge-warning': horario.Segunda06 > 15 && horario.Segunda06 <= 17, 'badge-danger': horario.Segunda06 > 17}">{{horario.Segunda07}}</span></td>
                            <td><span class="badge" ng-class="{'badge-success': horario.Terca06   <= 15, 'badge-warning': horario.Terca06   > 15 && horario.Terca06   <= 17, 'badge-danger': horario.Terca06   > 17}">{{horario.Terca07}}</span></td>
                            <td><span class="badge" ng-class="{'badge-success': horario.Quarta06  <= 15, 'badge-warning': horario.Quarta06  > 15 && horario.Quarta06  <= 17, 'badge-danger': horario.Quarta06  > 17}">{{horario.Quarta07}}</span></td>
                            <td><span class="badge" ng-class="{'badge-success': horario.Quinta06  <= 15, 'badge-warning': horario.Quinta06  > 15 && horario.Quinta06  <= 17, 'badge-danger': horario.Quinta06  > 17}">{{horario.Quinta07}}</span></td>
                            <td><span class="badge" ng-class="{'badge-success': horario.Sexta06   <= 15, 'badge-warning': horario.Sexta06   > 15 && horario.Sexta06   <= 17, 'badge-danger': horario.Sexta06   > 17}">{{horario.Sexta07}}</span></td>
                        </tr>
                        <tr>
                            <td>08:00 - 09:00</td>
                            <td><span class="badge" ng-class="{'badge-success': horario.Segunda06 <= 15, 'badge-warning': horario.Segunda06 > 15 && horario.Segunda06 <= 17, 'badge-danger': horario.Segunda06 > 17}">{{horario.Segunda08}}</span></td>
                            <td><span class="badge" ng-class="{'badge-success': horario.Terca06   <= 15, 'badge-warning': horario.Terca06   > 15 && horario.Terca06   <= 17, 'badge-danger': horario.Terca06   > 17}">{{horario.Terca08}}</span></td>
                            <td><span class="badge" ng-class="{'badge-success': horario.Quarta06  <= 15, 'badge-warning': horario.Quarta06  > 15 && horario.Quarta06  <= 17, 'badge-danger': horario.Quarta06  > 17}">{{horario.Quarta08}}</span></td>
                            <td><span class="badge" ng-class="{'badge-success': horario.Quinta06  <= 15, 'badge-warning': horario.Quinta06  > 15 && horario.Quinta06  <= 17, 'badge-danger': horario.Quinta06  > 17}">{{horario.Quinta08}}</span></td>
                            <td><span class="badge" ng-class="{'badge-success': horario.Sexta06   <= 15, 'badge-warning': horario.Sexta06   > 15 && horario.Sexta06   <= 17, 'badge-danger': horario.Sexta06   > 17}">{{horario.Sexta08}}</span></td>
                        </tr>
                        <tr>
                            <td>09:00 - 10:00</td>
                            <td><span class="badge" ng-class="{'badge-success': horario.Segunda06 <= 15, 'badge-warning': horario.Segunda06 > 15 && horario.Segunda06 <= 17, 'badge-danger': horario.Segunda06 > 17}">{{horario.Segunda09}}</span></td>
                            <td><span class="badge" ng-class="{'badge-success': horario.Terca06   <= 15, 'badge-warning': horario.Terca06   > 15 && horario.Terca06   <= 17, 'badge-danger': horario.Terca06   > 17}">{{horario.Terca09}}</span></td>
                            <td><span class="badge" ng-class="{'badge-success': horario.Quarta06  <= 15, 'badge-warning': horario.Quarta06  > 15 && horario.Quarta06  <= 17, 'badge-danger': horario.Quarta06  > 17}">{{horario.Quarta09}}</span></td>
                            <td><span class="badge" ng-class="{'badge-success': horario.Quinta06  <= 15, 'badge-warning': horario.Quinta06  > 15 && horario.Quinta06  <= 17, 'badge-danger': horario.Quinta06  > 17}">{{horario.Quinta09}}</span></td>
                            <td><span class="badge" ng-class="{'badge-success': horario.Sexta06   <= 15, 'badge-warning': horario.Sexta06   > 15 && horario.Sexta06   <= 17, 'badge-danger': horario.Sexta06   > 17}">{{horario.Sexta09}}</span></td>
                        </tr>
                        <tr>
                            <td>15:00 - 16:00</td>
                            <td><span class="badge" ng-class="{'badge-success': horario.Segunda06 <= 15, 'badge-warning': horario.Segunda06 > 15 && horario.Segunda06 <= 17, 'badge-danger': horario.Segunda06 > 17}">{{horario.Segunda15}}</span></td>
                            <td><span class="badge" ng-class="{'badge-success': horario.Terca06   <= 15, 'badge-warning': horario.Terca06   > 15 && horario.Terca06   <= 17, 'badge-danger': horario.Terca06   > 17}">{{horario.Terca15}}</span></td>
                            <td><span class="badge" ng-class="{'badge-success': horario.Quarta06  <= 15, 'badge-warning': horario.Quarta06  > 15 && horario.Quarta06  <= 17, 'badge-danger': horario.Quarta06  > 17}">{{horario.Quarta15}}</span></td>
                            <td><span class="badge" ng-class="{'badge-success': horario.Quinta06  <= 15, 'badge-warning': horario.Quinta06  > 15 && horario.Quinta06  <= 17, 'badge-danger': horario.Quinta06  > 17}">{{horario.Quinta15}}</span></td>
                            <td><span class="badge" ng-class="{'badge-success': horario.Sexta06   <= 15, 'badge-warning': horario.Sexta06   > 15 && horario.Sexta06   <= 17, 'badge-danger': horario.Sexta06   > 17}">{{horario.Sexta15}}</span></td>
                        </tr>
                        <tr>
                            <td>16:00 - 17:00</td>
                            <td><span class="badge" ng-class="{'badge-success': horario.Segunda06 <= 15, 'badge-warning': horario.Segunda06 > 15 && horario.Segunda06 <= 17, 'badge-danger': horario.Segunda06 > 17}">{{horario.Segunda16}}</span></td>
                            <td><span class="badge" ng-class="{'badge-success': horario.Terca06   <= 15, 'badge-warning': horario.Terca06   > 15 && horario.Terca06   <= 17, 'badge-danger': horario.Terca06   > 17}">{{horario.Terca16}}</span></td>
                            <td><span class="badge" ng-class="{'badge-success': horario.Quarta06  <= 15, 'badge-warning': horario.Quarta06  > 15 && horario.Quarta06  <= 17, 'badge-danger': horario.Quarta06  > 17}">{{horario.Quarta16}}</span></td>
                            <td><span class="badge" ng-class="{'badge-success': horario.Quinta06  <= 15, 'badge-warning': horario.Quinta06  > 15 && horario.Quinta06  <= 17, 'badge-danger': horario.Quinta06  > 17}">{{horario.Quinta16}}</span></td>
                            <td><span class="badge" ng-class="{'badge-success': horario.Sexta06   <= 15, 'badge-warning': horario.Sexta06   > 15 && horario.Sexta06   <= 17, 'badge-danger': horario.Sexta06   > 17}">{{horario.Sexta16}}</span></td>
                        </tr>
                        <tr>
                            <td>17:00 - 18:00</td>
                            <td><span class="badge" ng-class="{'badge-success': horario.Segunda06 <= 15, 'badge-warning': horario.Segunda06 > 15 && horario.Segunda06 <= 17, 'badge-danger': horario.Segunda06 > 17}">{{horario.Segunda17}}</span></td>
                            <td><span class="badge" ng-class="{'badge-success': horario.Terca06   <= 15, 'badge-warning': horario.Terca06   > 15 && horario.Terca06   <= 17, 'badge-danger': horario.Terca06   > 17}">{{horario.Terca17}}</span></td>
                            <td><span class="badge" ng-class="{'badge-success': horario.Quarta06  <= 15, 'badge-warning': horario.Quarta06  > 15 && horario.Quarta06  <= 17, 'badge-danger': horario.Quarta06  > 17}">{{horario.Quarta17}}</span></td>
                            <td><span class="badge" ng-class="{'badge-success': horario.Quinta06  <= 15, 'badge-warning': horario.Quinta06  > 15 && horario.Quinta06  <= 17, 'badge-danger': horario.Quinta06  > 17}">{{horario.Quinta17}}</span></td>
                            <td><span class="badge" ng-class="{'badge-success': horario.Sexta06   <= 15, 'badge-warning': horario.Sexta06   > 15 && horario.Sexta06   <= 17, 'badge-danger': horario.Sexta06   > 17}">{{horario.Sexta17}}</span></td>
                        </tr>
                        <tr>
                            <td>18:00 - 19:00</td>
                            <td><span class="badge" ng-class="{'badge-success': horario.Segunda06 <= 15, 'badge-warning': horario.Segunda06 > 15 && horario.Segunda06 <= 17, 'badge-danger': horario.Segunda06 > 17}">{{horario.Segunda18}}</span></td>
                            <td><span class="badge" ng-class="{'badge-success': horario.Terca06   <= 15, 'badge-warning': horario.Terca06   > 15 && horario.Terca06   <= 17, 'badge-danger': horario.Terca06   > 17}">{{horario.Terca18}}</span></td>
                            <td><span class="badge" ng-class="{'badge-success': horario.Quarta06  <= 15, 'badge-warning': horario.Quarta06  > 15 && horario.Quarta06  <= 17, 'badge-danger': horario.Quarta06  > 17}">{{horario.Quarta18}}</span></td>
                            <td><span class="badge" ng-class="{'badge-success': horario.Quinta06  <= 15, 'badge-warning': horario.Quinta06  > 15 && horario.Quinta06  <= 17, 'badge-danger': horario.Quinta06  > 17}">{{horario.Quinta18}}</span></td>
                            <td><span class="badge" ng-class="{'badge-success': horario.Sexta06   <= 15, 'badge-warning': horario.Sexta06   > 15 && horario.Sexta06   <= 17, 'badge-danger': horario.Sexta06   > 17}">{{horario.Sexta18}}</span></td>
                        </tr>
                        <tr>
                            <td>19:00 - 20:00</td>
                            <td><span class="badge" ng-class="{'badge-success': horario.Segunda06 <= 15, 'badge-warning': horario.Segunda06 > 15 && horario.Segunda06 <= 17, 'badge-danger': horario.Segunda06 > 17}">{{horario.Segunda19}}</span></td>
                            <td><span class="badge" ng-class="{'badge-success': horario.Terca06   <= 15, 'badge-warning': horario.Terca06   > 15 && horario.Terca06   <= 17, 'badge-danger': horario.Terca06   > 17}">{{horario.Terca19}}</span></td>
                            <td><span class="badge" ng-class="{'badge-success': horario.Quarta06  <= 15, 'badge-warning': horario.Quarta06  > 15 && horario.Quarta06  <= 17, 'badge-danger': horario.Quarta06  > 17}">{{horario.Quarta19}}</span></td>
                            <td><span class="badge" ng-class="{'badge-success': horario.Quinta06  <= 15, 'badge-warning': horario.Quinta06  > 15 && horario.Quinta06  <= 17, 'badge-danger': horario.Quinta06  > 17}">{{horario.Quinta19}}</span></td>
                            <td><span class="badge" ng-class="{'badge-success': horario.Sexta06   <= 15, 'badge-warning': horario.Sexta06   > 15 && horario.Sexta06   <= 17, 'badge-danger': horario.Sexta06   > 17}">{{horario.Sexta19}}</span></td>
                        </tr>
                        <tr>
                            <td>20:00 - 21:00</td>
                            <td><span class="badge" ng-class="{'badge-success': horario.Segunda06 <= 15, 'badge-warning': horario.Segunda06 > 15 && horario.Segunda06 <= 17, 'badge-danger': horario.Segunda06 > 17}">{{horario.Segunda20}}</span></td>
                            <td><span class="badge" ng-class="{'badge-success': horario.Terca06   <= 15, 'badge-warning': horario.Terca06   > 15 && horario.Terca06   <= 17, 'badge-danger': horario.Terca06   > 17}">{{horario.Terca20}}</span></td>
                            <td><span class="badge" ng-class="{'badge-success': horario.Quarta06  <= 15, 'badge-warning': horario.Quarta06  > 15 && horario.Quarta06  <= 17, 'badge-danger': horario.Quarta06  > 17}">{{horario.Quarta20}}</span></td>
                            <td><span class="badge" ng-class="{'badge-success': horario.Quinta06  <= 15, 'badge-warning': horario.Quinta06  > 15 && horario.Quinta06  <= 17, 'badge-danger': horario.Quinta06  > 17}">{{horario.Quinta20}}</span></td>
                            <td><span class="badge" ng-class="{'badge-success': horario.Sexta06   <= 15, 'badge-warning': horario.Sexta06   > 15 && horario.Sexta06   <= 17, 'badge-danger': horario.Sexta06   > 17}">{{horario.Sexta20}}</span></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>