<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle">Horários</h1>
            <span class="mainDescription">Lista de Horários dos Clientes</span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<div ng-show="loading"><img src="assets/images/loading.gif" />Carregando Horários...</div>
<div class="container-fluid container-fullw" ng-show="!loading">
    <div class="row">
        <div class="col-md-12">
            <div>
                <div class="table-responsive">
                    <table ng-table="tableParams" class="table table-striped">
                        <tr>
                            <td style="width: 25%">Hora</td>
                            <td style="width: 15%">Segunda-feira</td>
                            <td style="width: 15%">Terça-feira</td>
                            <td style="width: 15%">Quarta-feira</td>
                            <td style="width: 15%">Quinta-feira</td>
                            <td style="width: 15%">Sexta-feira</td>
                        </tr>
                        <tr>
                            <td>06:00 - 07:00</td>
                            <td><span class="badge" ng-class="{'badge-success': horario.Segunda06 <= 15, 'badge-warning': horario.Segunda06 > 15 && horario.Segunda06 <= 17, 'badge-danger': horario.Segunda06 > 17}">{{horario.Segunda06}}</span></td>
                            <td><span class="badge" ng-class="{'badge-success':   horario.Terca06   <= 15, 'badge-warning': horario.Terca06   > 15 && horario.Terca06   <= 17, 'badge-danger': horario.Terca06   > 17}">{{horario.Terca06}}</span></td>
                            <td><span class="badge" ng-class="{'badge-success':  horario.Quarta06  <= 15, 'badge-warning': horario.Quarta06  > 15 && horario.Quarta06  <= 17, 'badge-danger': horario.Quarta06  > 17}">{{horario.Quarta06}}</span></td>
                            <td><span class="badge" ng-class="{'badge-success':  horario.Quinta06  <= 15, 'badge-warning': horario.Quinta06  > 15 && horario.Quinta06  <= 17, 'badge-danger': horario.Quinta06  > 17}">{{horario.Quinta06}}</span></td>
                            <td><span class="badge" ng-class="{'badge-success':   horario.Sexta06   <= 15, 'badge-warning': horario.Sexta06   > 15 && horario.Sexta06   <= 17, 'badge-danger': horario.Sexta06   > 17}">{{horario.Sexta06}}</span></td>
                        </tr>
                        <tr>
                            <td>07:00 - 08:00</td>
                            <td><span class="badge" ng-class="{'badge-success': horario.Segunda07 <= 15, 'badge-warning': horario.Segunda07 > 15 && horario.Segunda07 <= 17, 'badge-danger': horario.Segunda07 > 17}">{{horario.Segunda07}}</span></td>
                            <td><span class="badge" ng-class="{'badge-success':   horario.Terca07   <= 15, 'badge-warning': horario.Terca07   > 15 && horario.Terca07   <= 17, 'badge-danger': horario.Terca07   > 17}">{{horario.Terca07}}</span></td>
                            <td><span class="badge" ng-class="{'badge-success':  horario.Quarta07  <= 15, 'badge-warning': horario.Quarta07  > 15 && horario.Quarta07  <= 17, 'badge-danger': horario.Quarta07  > 17}">{{horario.Quarta07}}</span></td>
                            <td><span class="badge" ng-class="{'badge-success':  horario.Quinta07  <= 15, 'badge-warning': horario.Quinta07  > 15 && horario.Quinta07  <= 17, 'badge-danger': horario.Quinta07  > 17}">{{horario.Quinta07}}</span></td>
                            <td><span class="badge" ng-class="{'badge-success':   horario.Sexta07   <= 15, 'badge-warning': horario.Sexta07   > 15 && horario.Sexta07   <= 17, 'badge-danger': horario.Sexta07   > 17}">{{horario.Sexta07}}</span></td>
                        </tr>
                        <tr>
                            <td>08:00 - 09:00</td>
                            <td><span class="badge" ng-class="{'badge-success': horario.Segunda08 <= 15, 'badge-warning': horario.Segunda08 > 15 && horario.Segunda08 <= 17, 'badge-danger': horario.Segunda08 > 17}">{{horario.Segunda08}}</span></td>
                            <td><span class="badge" ng-class="{'badge-success':   horario.Terca08   <= 15, 'badge-warning': horario.Terca08   > 15 && horario.Terca08   <= 17, 'badge-danger': horario.Terca08   > 17}">{{horario.Terca08}}</span></td>
                            <td><span class="badge" ng-class="{'badge-success':  horario.Quarta08  <= 15, 'badge-warning': horario.Quarta08  > 15 && horario.Quarta08  <= 17, 'badge-danger': horario.Quarta08  > 17}">{{horario.Quarta08}}</span></td>
                            <td><span class="badge" ng-class="{'badge-success':  horario.Quinta08  <= 15, 'badge-warning': horario.Quinta08  > 15 && horario.Quinta08  <= 17, 'badge-danger': horario.Quinta08  > 17}">{{horario.Quinta08}}</span></td>
                            <td><span class="badge" ng-class="{'badge-success':   horario.Sexta08   <= 15, 'badge-warning': horario.Sexta08   > 15 && horario.Sexta08   <= 17, 'badge-danger': horario.Sexta08   > 17}">{{horario.Sexta08}}</span></td>
                        </tr>
                        <tr>
                            <td>09:00 - 10:00</td>
                            <td><span class="badge" ng-class="{'badge-success': horario.Segunda09 <= 15, 'badge-warning': horario.Segunda09 > 15 && horario.Segunda09 <= 17, 'badge-danger': horario.Segunda09 > 17}">{{horario.Segunda09}}</span></td>
                            <td><span class="badge" ng-class="{'badge-success':   horario.Terca09   <= 15, 'badge-warning': horario.Terca09   > 15 && horario.Terca09   <= 17, 'badge-danger': horario.Terca09   > 17}">{{horario.Terca09}}</span></td>
                            <td><span class="badge" ng-class="{'badge-success':  horario.Quarta09  <= 15, 'badge-warning': horario.Quarta09  > 15 && horario.Quarta09  <= 17, 'badge-danger': horario.Quarta09  > 17}">{{horario.Quarta09}}</span></td>
                            <td><span class="badge" ng-class="{'badge-success':  horario.Quinta09  <= 15, 'badge-warning': horario.Quinta09  > 15 && horario.Quinta09  <= 17, 'badge-danger': horario.Quinta09  > 17}">{{horario.Quinta09}}</span></td>
                            <td><span class="badge" ng-class="{'badge-success':   horario.Sexta09   <= 15, 'badge-warning': horario.Sexta09   > 15 && horario.Sexta09   <= 17, 'badge-danger': horario.Sexta09   > 17}">{{horario.Sexta09}}</span></td>
                        </tr>
                        <tr>
                            <td>10:00 - 11:00</td>
                            <td><span class="badge" ng-class="{'badge-success': horario.Segunda10 <= 15, 'badge-warning': horario.Segunda10 > 15 && horario.Segunda10 <= 17, 'badge-danger': horario.Segunda10 > 17}">{{horario.Segunda10}}</span></td>
                            <td><span class="badge" ng-class="{'badge-success':   horario.Terca10   <= 15, 'badge-warning': horario.Terca10   > 15 && horario.Terca10   <= 17, 'badge-danger': horario.Terca10   > 17}">{{horario.Terca10}}</span></td>
                            <td><span class="badge" ng-class="{'badge-success':  horario.Quarta10  <= 15, 'badge-warning': horario.Quarta10  > 15 && horario.Quarta10  <= 17, 'badge-danger': horario.Quarta10  > 17}">{{horario.Quarta10}}</span></td>
                            <td><span class="badge" ng-class="{'badge-success':  horario.Quinta10  <= 15, 'badge-warning': horario.Quinta10  > 15 && horario.Quinta10  <= 17, 'badge-danger': horario.Quinta10  > 17}">{{horario.Quinta10}}</span></td>
                            <td><span class="badge" ng-class="{'badge-success':   horario.Sexta10   <= 15, 'badge-warning': horario.Sexta10   > 15 && horario.Sexta10   <= 17, 'badge-danger': horario.Sexta10   > 17}">{{horario.Sexta10}}</span></td>
                        </tr>
                        <tr>
                            <td>15:00 - 16:00</td>
                            <td><span class="badge" ng-class="{'badge-success': horario.Segunda15 <= 15, 'badge-warning': horario.Segunda15 > 15 && horario.Segunda15 <= 17, 'badge-danger': horario.Segunda15 > 17}">{{horario.Segunda15}}</span></td>
                            <td><span class="badge" ng-class="{'badge-success':   horario.Terca15   <= 15, 'badge-warning': horario.Terca15   > 15 && horario.Terca15   <= 17, 'badge-danger': horario.Terca15   > 17}">{{horario.Terca15}}</span></td>
                            <td><span class="badge" ng-class="{'badge-success':  horario.Quarta15  <= 15, 'badge-warning': horario.Quarta15  > 15 && horario.Quarta15  <= 17, 'badge-danger': horario.Quarta15  > 17}">{{horario.Quarta15}}</span></td>
                            <td><span class="badge" ng-class="{'badge-success':  horario.Quinta15  <= 15, 'badge-warning': horario.Quinta15  > 15 && horario.Quinta15  <= 17, 'badge-danger': horario.Quinta15  > 17}">{{horario.Quinta15}}</span></td>
                            <td><span class="badge" ng-class="{'badge-success':   horario.Sexta15   <= 15, 'badge-warning': horario.Sexta15   > 15 && horario.Sexta15   <= 17, 'badge-danger': horario.Sexta15   > 17}">{{horario.Sexta15}}</span></td>
                        </tr>
                        <tr>
                            <td>16:00 - 17:00</td>
                            <td><span class="badge" ng-class="{'badge-success': horario.Segunda16 <= 15, 'badge-warning': horario.Segunda16 > 15 && horario.Segunda16 <= 17, 'badge-danger': horario.Segunda16 > 17}">{{horario.Segunda16}}</span></td>
                            <td><span class="badge" ng-class="{'badge-success':   horario.Terca16   <= 15, 'badge-warning': horario.Terca16   > 15 && horario.Terca16   <= 17, 'badge-danger': horario.Terca16   > 17}">{{horario.Terca16}}</span></td>
                            <td><span class="badge" ng-class="{'badge-success':  horario.Quarta16  <= 15, 'badge-warning': horario.Quarta16  > 15 && horario.Quarta16  <= 17, 'badge-danger': horario.Quarta16  > 17}">{{horario.Quarta16}}</span></td>
                            <td><span class="badge" ng-class="{'badge-success':  horario.Quinta16  <= 15, 'badge-warning': horario.Quinta16  > 15 && horario.Quinta16  <= 17, 'badge-danger': horario.Quinta16  > 17}">{{horario.Quinta16}}</span></td>
                            <td><span class="badge" ng-class="{'badge-success':   horario.Sexta16   <= 15, 'badge-warning': horario.Sexta16   > 15 && horario.Sexta16   <= 17, 'badge-danger': horario.Sexta16   > 17}">{{horario.Sexta16}}</span></td>
                        </tr>
                        <tr>
                            <td>17:00 - 18:00</td>
                            <td><span class="badge" ng-class="{'badge-success': horario.Segunda17 <= 15, 'badge-warning': horario.Segunda17 > 15 && horario.Segunda17 <= 17, 'badge-danger': horario.Segunda17 > 17}">{{horario.Segunda17}}</span></td>
                            <td><span class="badge" ng-class="{'badge-success':   horario.Terca17   <= 15, 'badge-warning': horario.Terca17   > 15 && horario.Terca17   <= 17, 'badge-danger': horario.Terca17   > 17}">{{horario.Terca17}}</span></td>
                            <td><span class="badge" ng-class="{'badge-success':  horario.Quarta17  <= 15, 'badge-warning': horario.Quarta17  > 15 && horario.Quarta17  <= 17, 'badge-danger': horario.Quarta17  > 17}">{{horario.Quarta17}}</span></td>
                            <td><span class="badge" ng-class="{'badge-success':  horario.Quinta17  <= 15, 'badge-warning': horario.Quinta17  > 15 && horario.Quinta17  <= 17, 'badge-danger': horario.Quinta17  > 17}">{{horario.Quinta17}}</span></td>
                            <td><span class="badge" ng-class="{'badge-success':   horario.Sexta17   <= 15, 'badge-warning': horario.Sexta17   > 15 && horario.Sexta17   <= 17, 'badge-danger': horario.Sexta17   > 17}">{{horario.Sexta17}}</span></td>
                        </tr>
                        <tr>
                            <td>18:00 - 19:00</td>
                            <td><span class="badge" ng-class="{'badge-success': horario.Segunda18 <= 15, 'badge-warning': horario.Segunda18 > 15 && horario.Segunda18 <= 17, 'badge-danger': horario.Segunda18 > 17}">{{horario.Segunda18}}</span></td>
                            <td><span class="badge" ng-class="{'badge-success':   horario.Terca18   <= 15, 'badge-warning': horario.Terca18   > 15 && horario.Terca18   <= 17, 'badge-danger': horario.Terca18   > 17}">{{horario.Terca18}}</span></td>
                            <td><span class="badge" ng-class="{'badge-success':  horario.Quarta18  <= 15, 'badge-warning': horario.Quarta18  > 15 && horario.Quarta18  <= 17, 'badge-danger': horario.Quarta18  > 17}">{{horario.Quarta18}}</span></td>
                            <td><span class="badge" ng-class="{'badge-success':  horario.Quinta18  <= 15, 'badge-warning': horario.Quinta18  > 15 && horario.Quinta18  <= 17, 'badge-danger': horario.Quinta18  > 17}">{{horario.Quinta18}}</span></td>
                            <td><span class="badge" ng-class="{'badge-success':   horario.Sexta18   <= 15, 'badge-warning': horario.Sexta18   > 15 && horario.Sexta18   <= 17, 'badge-danger': horario.Sexta18   > 17}">{{horario.Sexta18}}</span></td>
                        </tr>
                        <tr>
                            <td>19:00 - 20:00</td>
                            <td><span class="badge" ng-class="{'badge-success': horario.Segunda19 <= 15, 'badge-warning': horario.Segunda19 > 15 && horario.Segunda19 <= 17, 'badge-danger': horario.Segunda19 > 17}">{{horario.Segunda19}}</span></td>
                            <td><span class="badge" ng-class="{'badge-success':   horario.Terca19   <= 15, 'badge-warning': horario.Terca19   > 15 && horario.Terca19   <= 17, 'badge-danger': horario.Terca19   > 17}">{{horario.Terca19}}</span></td>
                            <td><span class="badge" ng-class="{'badge-success':  horario.Quarta19  <= 15, 'badge-warning': horario.Quarta19  > 15 && horario.Quarta19  <= 17, 'badge-danger': horario.Quarta19  > 17}">{{horario.Quarta19}}</span></td>
                            <td><span class="badge" ng-class="{'badge-success':  horario.Quinta19  <= 15, 'badge-warning': horario.Quinta19  > 15 && horario.Quinta19  <= 17, 'badge-danger': horario.Quinta19  > 17}">{{horario.Quinta19}}</span></td>
                            <td><span class="badge" ng-class="{'badge-success':   horario.Sexta19   <= 15, 'badge-warning': horario.Sexta19   > 15 && horario.Sexta19   <= 17, 'badge-danger': horario.Sexta19   > 17}">{{horario.Sexta19}}</span></td>
                        </tr>
                        <tr>
                            <td>20:00 - 21:00</td>
                            <td><span class="badge" ng-class="{'badge-success': horario.Segunda20 <= 15, 'badge-warning': horario.Segunda20 > 15 && horario.Segunda20 <= 17, 'badge-danger': horario.Segunda20 > 17}">{{horario.Segunda20}}</span></td>
                            <td><span class="badge" ng-class="{'badge-success':   horario.Terca20   <= 15, 'badge-warning': horario.Terca20   > 15 && horario.Terca20   <= 17, 'badge-danger': horario.Terca20   > 17}">{{horario.Terca20}}</span></td>
                            <td><span class="badge" ng-class="{'badge-success':  horario.Quarta20  <= 15, 'badge-warning': horario.Quarta20  > 15 && horario.Quarta20  <= 17, 'badge-danger': horario.Quarta20  > 17}">{{horario.Quarta20}}</span></td>
                            <td><span class="badge" ng-class="{'badge-success':  horario.Quinta20  <= 15, 'badge-warning': horario.Quinta20  > 15 && horario.Quinta20  <= 17, 'badge-danger': horario.Quinta20  > 17}">{{horario.Quinta20}}</span></td>
                            <td><span class="badge" ng-class="{'badge-success':   horario.Sexta20   <= 15, 'badge-warning': horario.Sexta20   > 15 && horario.Sexta20   <= 17, 'badge-danger': horario.Sexta20   > 17}">{{horario.Sexta20}}</span></td>
                        </tr>
                        <tr>
                            <td>21:00 - 22:00</td>
                            <td><span class="badge" ng-class="{'badge-success': horario.Segunda21 <= 15, 'badge-warning': horario.Segunda21 > 15 && horario.Segunda21 <= 17, 'badge-danger': horario.Segunda21 > 17}">{{horario.Segunda21}}</span></td>
                            <td><span class="badge" ng-class="{'badge-success':   horario.Terca21   <= 15, 'badge-warning': horario.Terca21   > 15 && horario.Terca21   <= 17, 'badge-danger': horario.Terca21   > 17}">{{horario.Terca21}}</span></td>
                            <td><span class="badge" ng-class="{'badge-success':  horario.Quarta21  <= 15, 'badge-warning': horario.Quarta21  > 15 && horario.Quarta21  <= 17, 'badge-danger': horario.Quarta21  > 17}">{{horario.Quarta21}}</span></td>
                            <td><span class="badge" ng-class="{'badge-success':  horario.Quinta21  <= 15, 'badge-warning': horario.Quinta21  > 15 && horario.Quinta21  <= 17, 'badge-danger': horario.Quinta21  > 17}">{{horario.Quinta21}}</span></td>
                            <td><span class="badge" ng-class="{'badge-success':   horario.Sexta21   <= 15, 'badge-warning': horario.Sexta21   > 15 && horario.Sexta21   <= 17, 'badge-danger': horario.Sexta21   > 17}">{{horario.Sexta21}}</span></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>