<div class="modal-header">
    <h3 class="modal-title">Pagamento Avaliação Física</h3>
</div>
<div class="modal-body">
    <ul>
        <li ng-repeat="error in vm.errors" class="text-danger">{{error}}</li>
    </ul>
    <form name="Form" id="form" novalidate ng-submit="form.submit(Form, avaliacaofisica)">
        <table class="table no-bg">
            <tr>
                <td class="col-md-3">Valor Pago: <span class="symbol required"></span></td>
                <td ng-class="{'has-error':Form.ValorPago.$dirty && Form.ValorPago.$invalid, 'has-success':Form.ValorPago.$valid}">
                    <input class="form-control" type="text" name="ValorPago" ng-model="avaliacaofisica.Valor" required>
                    <span class="error text-small block" ng-if="Form.ValorPago.$dirty && Form.ValorPago.$invalid">Informe o Valor Pago</span>
                </td>
                <td>Data Pagamento: <span class="symbol required"></span></td>
                <td ng-class="{'has-error':Form.DataPagamento.$dirty && Form.DataPagamento.$invalid, 'has-success':Form.DataPagamento.$valid}">
                    <div class="form-horizontal width-200">
                        <p class="input-group  margin-top-10">
                            <input type="text" name="DataPagamento" disabled class="form-control" datepicker-popup="dd/MM/yyyy" ng-model="avaliacaofisica.DataPagamento"
                                   is-open="opened[$index]" datepicker-options="dateOptions"
                                   ng-required="true" close-text="Fechar" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open($index)">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>

                        </p>
                    </div>
                    <span class="error text-small block" ng-if="Form.DataPagamento.$dirty && Form.DataPagamento.$invalid">Informe a Data de Pagamento</span>
                </td>
            </tr>
        </table>
        <!-- class="editRowTd" -->
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary btn-o">Cadastrar</button>
            <button type="button" class="btn btn-primary btn-o" ng-click="vm.cancel()">Fechar</button>
        </div>
    </form>
</div>
                
