<div class="modal-header">
    <h3 class="modal-title">Pagamento Avaliação Física</h3>
</div>
<div class="modal-body">
    <ul>
        <li ng-repeat="error in vm.errors" class="text-danger">{{error}}</li>
    </ul>
    <form name="Form" id="form" novalidate ng-submit="form.submit(Form, avaliacaofisica)">
        <table class="table no-bg">
            <tr>
                <td class="col-md-3">Valor: </td>
                <td ng-class="{'has-error':Form.Valor.$dirty && Form.ValorPago.$invalid, 'has-success':Form.Valor.$valid}">
                    <input class="form-control" type="text" name="Valor" ng-model="avaliacaofisica.Valor" mask-money>
                    <span class="error text-small block" ng-if="Form.Valor.$dirty && Form.Valor.$invalid">Informe o Valor Pago</span>
                </td>
                <td>Tipo de Pagamento: </td>
                <td>
                    <select name="TiposPag" id="TiposPag" ng-model="avaliacaofisica.TipoPagamentoId">
                        <option value=""><b>Selecione...</b></option>
                        <option ng-repeat="t in tipos" value="{{t.TipoPagamentoId}}">{{t.Sigla}} - {{t.Descricao}}</option>
                    </select>                    
                </td>                
            </tr>

            <tr>
                <td>Data Vencimento: <span class="symbol required"></span></td>
                <td  ng-class="{'has-error':Form.DataVencimento.$dirty && Form.DataVencimento.$invalid, 'has-success':Form.DataVencimento.$valid}">
                    <input class="form-control input-sm" name="DataVencimento" type="date" ng-model="avaliacaofisica.DataVencimento" required>
                    <span class="error text-small block" ng-if="Form.DataVencimento.$dirty && Form.DataVencimento.$invalid">Informe a Data de Vencimento</span>
                    <span class="error text-small block" ng-if="Form.DataVencimento.$error.date">Data inválida.</span>
                </td>
                <td>Data Pagamento:</td>
                <td ng-class="{'has-error':Form.DataPagamento.$dirty && Form.DataPagamento.$invalid}">
                    <input class="form-control input-sm" name="DataPagamento" type="date" ng-model="avaliacaofisica.DataPagamento">
                    <span class="error text-small block" ng-if="Form.DataPagamento.$error.date">Data inválida.</span>         
                </td>
               
            </tr>
        </table>
        <!-- class="editRowTd" -->
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary btn-o">Cadastrar</button>
            <button type="button" class="btn btn-primary btn-o" ng-click="vm.cancel()">Fechar</button>
        </div>
    </form>
</div>
                
