<form name="FormEdit" id="formEdit" novalidate ng-submit="formEdit.submit(FormEdit, r)">
    <table class="table no-bg">
        <tr>
            <td>Valor: </td>
            <td>
                <input class="form-control" type="text" name="ValorPago" ng-model="r.Valor" mask-money>
                <span class="error text-small block" ng-if="FormEdit.ValorPago.$dirty && FormEdit.ValorPago.$invalid">Informe o Valor Pago</span>
            </td>
            <td colspan="2">Tipo de Pagamento: </td>
            <td colspan="2">
                <select class="form-control" ng-model="r.TipoPagamentoId">
                    <option ng-selected="r.TipoPagamentoId == item.TipoPagamentoId" ng-repeat="item in tipos" ng-value="item.TipoPagamentoId">{{item.Descricao}}</option>
                </select>                
            </td>
        </tr>   
        <tr>
            <td style="min-width: 100px;">Avaliação:  <span class="symbol required"></span></td>
            <td ng-class="{'has-error':FormEdit.DataAvaliacao.$dirty && FormEdit.DataAvaliacao.$invalid, 'has-success':FormEdit.DataAvaliacao.$valid}">
                <div class="form-horizontal">
                    <p class="input-group  margin-top-10">
                        <input type="text" name="DataAvaliacao" id="DataAvaliacao" disabled class="form-control" datepicker-popup="dd/MM/yyyy" ng-model="r.DataEmissao"
                               is-open="opened[$index]" datepicker-options="dateOptions"
                               ng-required="true" close-text="Fechar" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open($event, $index)">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </p>
                </div>
                <span class="error text-small block" ng-if="FormEdit.DataAvaliacao.$dirty && FormEdit.DataAvaliacao.$invalid">Informe a Data de Avaliação</span>
            </td>
            <td style="min-width: 100px;">Vencimento:  <span class="symbol required"></span></td>
            <td ng-class="{'has-error':FormEdit.DataVencimento.$dirty && FormEdit.DataVencimento.$invalid, 'has-success':FormEdit.DataVencimento.$valid}">
                <div class="form-horizontal">
                    <p class="input-group  margin-top-10">
                        <input type="text" name="DataVencimento" id="DataVencimento" disabled class="form-control" datepicker-popup="dd/MM/yyyy" ng-model="r.DataVencimento"
                               is-open="opened[$index+1]" datepicker-options="dateOptions"
                               ng-required="true" close-text="Fechar" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open($event, $index+1)">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>

                    </p>
                </div>
                <span class="error text-small block" ng-if="FormEdit.DataVencimento.$dirty && FormEdit.DataVencimento.$invalid">Informe a Data de Vencimento</span>
            </td>

            <td>Pagamento: </td>
            <td>
                <div class="form-horizontal">
                    <p class="input-group  margin-top-10">
                        <input type="text" name="DataPagamento" disabled class="form-control" datepicker-popup="dd/MM/yyyy" ng-model="r.DataPagamento"
                               is-open="opened[$index+2]"  id="DataPagamento" datepicker-options="dateOptions"
                               ng-required="false" close-text="Fechar" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open($event, $index+2)">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>

                    </p>
                </div>
                <span class="error text-small block" ng-if="FormEdit.DataPagamento.$dirty && FormEdit.DataPagamento.$invalid">Informe a Data de Pagamento</span>
            </td>
        </tr>
        <tr>
            <td colspan="6">
                <div class="pull-right">
                    <input type="submit" class="btn btn-primary btn-sm margin-right-15" value="Salvar">
                    <input type="button" class="btn btn-primary btn-sm margin-right-15" value="Cancelar" ng-click="setEditId(-1)">
                </div>
            </td>
        </tr>
    </table>
    <!-- class="editRowTd" -->
</form>