<!-- start: MAIN NAVIGATION MENU -->
<div class="navbar-title">
    <span>Menu</span>
</div>
<ul class="main-navigation-menu">
    <li ui-sref-active="active">
        <a ui-sref="app.dashboard">
            <div class="item-content">
                <div class="item-media">
                    <i class="ti-home"></i>
                </div>
                <div class="item-inner">
                    <span class="title"> Dashboard </span>
                </div>
            </div>
        </a>
    </li>
    <li ng-class="{'active open':$state.includes('app.clientes')}">
        <a href="javascript:void(0)">
            <div class="item-content">
                <div class="item-media">
                    <i class="ti-user"></i>
                </div>
                <div class="item-inner">
                    <span class="title"> Clientes </span><i class="icon-arrow"></i>
                </div>
            </div>
        </a>
        <ul class="sub-menu">
            <li ui-sref-active="active">
                <a ui-sref="app.clientes.listar">
                    <span class="title" > Lista de Clientes </span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.clientes.cadastrar">
                    <span class="title"> Cadastrar Cliente </span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.clientes.aniversariantes({mes:{{mesAtual}}})">
                    <span class="title"> Lista de Aniversariantes </span>
                </a>
            </li>        
        </ul>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.horarios">
            <div class="item-content">
                <div class="item-media">
                    <i class="ti-time"></i>
                </div>
                <div class="item-inner">
                    <span class="title"> Hor&aacute;rios </span>
                </div>
            </div>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.filaEspera">
            <div class="item-content">
                <div class="item-media">
                    <i class="ti-list"></i>
                </div>
                <div class="item-inner">
                    <span class="title"> Lista de Espera </span>
                </div>
            </div>
        </a>
    </li>
    <li ui-sref-active="active" ng-if="userInfo.isAdmin">
        <a ui-sref="app.accounts">
            <div class="item-content">
                <div class="item-media">
                    <i class="ti-lock"></i>
                </div>
                <div class="item-inner">
                    <span class="title"> Acessos ao sistema</span>
                </div>
            </div>
        </a>
    </li>
</ul>
<!-- end: MAIN NAVIGATION MENU -->
