<!-- start: MAIN NAVIGATION MENU -->
<div class="navbar-title">
    <span>Menu</span>
</div>
<ul class="main-navigation-menu">
    <li ui-sref-active="active">
        <a ui-sref="app.dashboard">
            <div class="item-content">
                <div class="item-media">
                    <i class="ti-home"></i>
                </div>
                <div class="item-inner">
                    <span class="title"> Dashboard </span>
                </div>
            </div>
        </a>
    </li>
    <li ng-class="{'active open':$state.includes('app.clientes')}">
        <a href="javascript:void(0)">
            <div class="item-content">
                <div class="item-media">
                    <i class="ti-user"></i>
                </div>
                <div class="item-inner">
                    <span class="title"> Clientes </span><i class="icon-arrow"></i>
                </div>
            </div>
        </a>
        <ul class="sub-menu">
            <li ui-sref-active="active">
                <a ui-sref="app.clientes.listar">
                    <span class="title" > Lista de Clientes </span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.clientes.cadastrar">
                    <span class="title"> Cadastrar Cliente </span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.clientes.aniversariantes({mes:{{mesAtual}}})">
                    <span class="title"> Lista de Aniversariantes </span>
                </a>
            </li>        
        </ul>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.horarios">
            <div class="item-content">
                <div class="item-media">
                    <i class="ti-time"></i>
                </div>
                <div class="item-inner">
                    <span class="title"> Hor&aacute;rios </span>
                </div>
            </div>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.filaEspera">
            <div class="item-content">
                <div class="item-media">
                    <i class="ti-list"></i>
                </div>
                <div class="item-inner">
                    <span class="title"> Lista de Espera </span>
                </div>
            </div>
        </a>
    </li>
	<li ui-sref-active="active" ng-if="userInfo.isAdmin">
		<a ui-sref="app.accounts">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-lock"></i>
				</div>
				<div class="item-inner">
					<span class="title"> Acessos ao sistema</span>
				</div>
			</div>
		</a>
	</li>
    <li ng-class="{'active open':$state.includes('app.financeiro')}" ng-if="userInfo.isAdmin">
        <a href="javascript:void(0)">
            <div class="item-content">
                <div class="item-media">
                    <i class="ti-money"></i>
                </div>
                <div class="item-inner">
                    <span class="title"> Financeiro </span><i class="icon-arrow"></i>
                </div>
            </div>
        </a>
        <ul class="sub-menu" >
            <li ui-sref-active="active">
                <a ui-sref="app.financeiro.receitas">
                    <span class="title" > Receitas </span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.financeiro.despesas">
                    <span class="title"> Despesas </span>
                </a>
            </li>
	        <li ui-sref-active="active">
		        <a ui-sref="app.financeiro.categorias">
			        <span class="title"> Categorias </span>
		        </a>
	        </li>
            <li ui-sref-active="active">
                <a ui-sref="app.financeiro.tipoPagamento">
                    <span class="title"> Tipos de Pagamentos </span>
                </a>
            </li>
            <li ui-sref-active="active">
				<a href="javascript:;">
					<span class="text-bold text-info">Relat&oacute;rios Financeiros</span>  <i class="icon-arrow"></i>
				</a>
				<ul class="sub-menu">
					<li  ui-sref-active="active">
						<a ui-sref="app.financeiro.relatorioFinanceiro">
							<span class="title"> Geral </span>
						</a>
					</li>
				</ul>
			</li>
        </ul>
    </li>
</ul>
<!-- CADASTROS BÁSICOS -->
<div class="navbar-title">
    <span>Cadastros B&Aacute;sicos</span>
</div>
<ul class="folders">
    <li ui-sref-active="active">
        <a ui-sref="app.armazem">
            <div class="item-content">
                <div class="item-media">
                    <i class="ti-server"></i>
                </div>
                <div class="item-inner">
                    <span class="title"> Armaz&eacute;m</span>
                </div>
            </div>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.funcionarios">
            <div class="item-content">
                <div class="item-media">
                    <i class="ti-id-badge"></i>
                </div>
                <div class="item-inner">
                    <span class="title"> Funcion&aacute;rios</span>
                </div>
            </div>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.fornecedores">
            <div class="item-content">
                <div class="item-media">
                    <i class="ti-hummer"></i>
                </div>
                <div class="item-inner">
                    <span class="title"> Fornecedores </span>
                </div>
            </div>
        </a>
    </li>
</ul>

<!-- end: MAIN NAVIGATION MENU -->
<div class="navbar-title">
    <span>Configura&ccedil;&otilde;es</span>
</div>
<ul class="folders">
	<li ui-sref-active="active">
		<a ui-sref="app.valores">
			<div class="item-content">
				<div class="item-media">
					<span class="fa-stack"> <i class="fa fa-square fa-stack-2x"></i> <i class="fa fa-usd fa-stack-1x fa-inverse"></i> </span>
				</div>
				<div class="item-inner">
					<span class="title"> Valores Mensalidades</span>
				</div>
			</div>
		</a>
	</li>
</ul>
