<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle">Produtos</h1>
            <span class="mainDescription">
            </span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<div ng-show="loading"><img src="/assets/images/loading.gif" />Carregando produtos...</div>
<div class="container-fluid container-fullw bg-white" ng-show="!loading">
    <div class="row">
        <div class="col-md-6">
            <button type="button" ng-disabled="createTipo" class="btn btn-primary btn-wide btn-scroll btn-scroll-top ti-plus" ng-click="createProdutos = !createProdutos">
                <span>Cadastrar</span>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table">
                    <tr ng-show="createProdutos">
                        <td colspan="12" ng-include src="'app/views/produtos/create.html'"></td>
                    </tr>
                </table>
                <table ng-table="tableParams" class="table">

                    <tbody ng-repeat="p in $data">
                    <tr id="tr{{p.ProdutoId}}" ng-class-odd="'odd'" ng-class-even="'even'">
                        <td class="rowTd" data-title="'Categoria'" sortable="'Categoria.Nome'">{{p.ProdutosCategoria.Nome}}</td>
                        <td class="rowTd" data-title="'Nome'" sortable="'Nome'">{{p.Nome}}</td>
                        <td class="rowTd" data-title="'Descricao'" sortable="'Descricao'">{{p.Descricao}}</td>
                        <td class="text-right">
                            <div class="visible-md visible-lg hidden-sm hidden-xs">
                                <a ng-click="setEditId(p.ProdutoId)" class="btn btn-transparent btn-xs" tooltip-placement="top" tooltip="Editar" id="editRowBtn{{p.ProdutoId}}"><i class="fa fa-pencil"></i></a>
                                <a ng-click="delete(p.ProdutoId)" class="btn btn-transparent btn-xs tooltips" tooltip-placement="top" tooltip="Excluir"><i class="fa fa-times"></i></a>
                            </div>
                        </td>
                    </tr>
                        <tr ng-show="editId===p.ProdutoId" ng-if="editId===p.ProdutoId">
                            <td colspan="4" ng-include src="'app/views/produtos/edit.html'"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


