
<meta http-equiv="Content-Type" content="text/html; charset=iso-8898" />
<!-- start: LOGIN -->
<div class="row">
	<div class="main-login col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
	    <div class="logo">
	        <img ng-src="{{app.layout.logo}}" alt="{{app.name}}"/>
	    </div>
		<!-- start: LOGIN BOX -->
	    <div class="box-login">
            <div class="text-danger wrapper text-center" ng-show="authError">
                {{authError}}
            </div>
	        <form name="formLogin" class="form-login">
	            <fieldset>
	                <legend>
	                    Acessar Sistema
	                </legend>
	                <p>
	                    Por favor informe seu usu&aacute;rio e senha para acessar o sistema.
	                </p>
	                <div class="form-group">
	                    <span class="input-icon">
							<input type="text" class="form-control" data-ng-model="loginData.userName" placeholder="UserName" required>
							<i class="fa fa-user"></i> </span>
	                </div>
	                <div class="form-group form-actions">
	                    <span class="input-icon">
							<input type="password" class="form-control password" data-ng-model="loginData.password" placeholder="Senha" required>
							<i class="fa fa-lock"></i></span>
	                </div>
	                <div class="form-actions">
	                    <button type="submit" class="btn btn-primary pull-right" data-ng-click="login()" ng-disabled='formLogin.$invalid'>
	                        Acessar <i class="fa fa-arrow-circle-right"></i>
	                    </button>
	                </div>
	            </fieldset>
	        </form>
	        <!-- start: COPYRIGHT -->
	        <div class="copyright">
	            {{app.year}} &copy; {{ app.name }}.
	        </div>
	        <!-- end: COPYRIGHT -->
	    </div>
		<!-- end: LOGIN BOX -->
	</div>
</div>
<!-- end: LOGIN -->