<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle">Estoque de Produtos</h1>
            <span class="mainDescription">Produtos em estoque </span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<div ng-show="loading">
    <img src="/assets/images/loading.gif" />Carregando Estoques...
</div>
<div class="container-fluid container-fullw bg-white" ng-show="!loading">
    <div class="row">
        <div class="col-md-6">
            <button type="button" class="btn btn-primary btn-wide btn-scroll btn-scroll-top ti-plus" ng-click="openCadastrar()">
                <span>Cadastrar</span>
            </button><br /><br />
        </div>
        <div class="col-md-6">
            <h5 class="pull-right ">Total: <span class="badge badge-info">{{total}}</span></h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div style="margin-bottom: 15px;">
                <span class="input-icon">
                    <input type="text" ng-model="searchText" class="form-control" placeholder="Pesquisar...">
                    <i class="ti-search"></i>
                </span>
            </div>
            <div class="col-md-12">
                <div ng-repeat="(key, value) in vm.estoques | groupBy: 'Armazem.Descricao'">
                    <h4><span class="ti-harddrives text-azure"> {{key}} </span></h4>
                    <table ng-table="tableParams" class="table table-responsive" id="table">
                        <tbody ng-repeat="e in value | orderBy: 'Produtos.Nome'| filter: searchText">
                            <tr id="tr{{e.EstoqueId}}" ng-class-odd="'odd'" ng-class-even="'even'">
                                <td class="rowTd" style="min-width: 130px" data-title="'Produto'">{{e.Produtos.Nome}}</td>
                                <td class="rowTd" data-title="'Qtd. Estoque'">{{e.Quantidade}}</td>
                                <td class="rowTd" data-title="'Valor Un.'">
                                    <div class="text-primary">{{e.ValorUnitario | currency}}</div>
                                </td>
                                <td class="rowTd" data-title="'Valor Total'">
                                    <div class="text-primary">{{e.ValorTotal | currency}}</div>
                                </td>
                                <td class="rowTd" data-title="'Qtd Venda'">{{e.TotalVendido}}</td>
                                <td class="rowTd" data-title="'Saldo Total'">
                                    <div class="text-primary">{{e.SaldoVenda | currency}}</div>
                                </td>
                                <td class="text-right" id="icons">
                                    <div ng-if="userInfo.isAdmin">
                                        <a ng-click="openEntradaEstoque(e)" class="btn btn-xs" tooltip-placement="top" tooltip="Entrada Estoque"><i class="fa fa-plus"></i></a>
                                        <a ng-click="openMovimentacoes(e.EstoqueId)" class="btn btn-xs" tooltip-placement="top" tooltip="Movimentações"><i class="ti-direction"></i></a>
                                        <a ng-click="setEditId(e.EstoqueId)" class="btn btn-xs" tooltip-placement="top" tooltip="Editar" id="editRowBtn{{e.EstoqueId}}"><i class="fa fa-pencil"></i></a>
                                        <a ng-click="delete(e.EstoqueId)" class="btn btn-xs" tooltip-placement="top" tooltip="Excluir"><i class="fa fa-times"></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr ng-show="editId===e.EstoqueId" ng-if="editId===e.EstoqueId">
                                <td colspan="7" ng-include src="'app/views/estoque/edit.html'"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
