<form name="FormEdit" id="formEdit" novalidate ng-submit="formEdit.submit(FormEdit, m)">
    <table class="table no-bg">
        <tr>
            <td>Mês: <span class="symbol required"></span></td>
            <td ng-class="{'has-error':FormEdit.Mes.$dirty && FormEdit.Mes.$invalid, 'has-success':FormEdit.Mes.$valid}">
                <input class="form-control" type="number" min="01" max="12" name="Mes" ng-model="m.MesReferencia" required>
                <span class="error text-small block" ng-if="FormEdit.Mes.$dirty && FormEdit.Mes.$invalid">Informe o Mês</span>
            </td>
            <td>Ano: <span class="symbol required"></span></td>
            <td ng-class="{'has-error':FormEdit.Ano.$dirty && FormEdit.Ano.$invalid, 'has-success':FormEdit.Ano.$valid}">
                <input class="form-control" type="number" name="Ano" ng-model="m.AnoReferencia" required>
                <span class="error text-small block" ng-if="FormEdit.Ano.$dirty && FormEdit.Ano.$invalid">Informe o Ano</span>
            </td>
        </tr>
        <tr>
            <td>valor Pago: <span class="symbol required"></span></td>
            <td ng-class="{'has-error':FormEdit.ValorPago.$dirty && FormEdit.ValorPago.$invalid, 'has-success':FormEdit.ValorPago.$valid}" class="width-200">
                <input class="form-control" type="text" name="ValorPago" ng-model="m.Valor" mask-money required>
                <span class="error text-small block" ng-if="FormEdit.ValorPago.$dirty && FormEdit.ValorPago.$invalid">Informe o Valor Pago</span>
            </td>
            <td>Data Pagamento: <span class="symbol required"></span></td>
            <td ng-class="{'has-error':FormEdit.DataPagamento.$dirty && FormEdit.DataPagamento.$invalid, 'has-success':FormEdit.DataPagamento.$valid}">
                <div class="form-horizontal">
                    <p class="input-group  margin-top-10">
                        <input type="text" name="DataReserva" disabled class="form-control" datepicker-popup="dd/MM/yyyy" ng-model="m.DataPagamento"
                               is-open="opened[$index]" datepicker-options="dateOptions"
                               ng-required="true" close-text="Fechar"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open($event, $index)">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>

                    </p>
                </div>
                <span class="error text-small block" ng-if="FormEdit.DataPagamento.$dirty && FormEdit.DataPagamento.$invalid">Informe a Data de Pagamento</span>
            </td>
        </tr>
        <tr>
            <td>Tipo de Pagamento: <span class="symbol required"></span></td>
            <td ng-class="{'has-error':Form.TiposPag.$dirty && Form.TiposPag.$invalid, 'has-success':Form.TiposPag.$valid}">
                <select class="form-control" ng-model="m.TipoPagamentoId">
                    <option ng-selected="m.TipoPagamentoId == item.TipoPagamentoId" ng-repeat="item in tipos" ng-value="item.TipoPagamentoId">{{item.Descricao}}</option>
                </select>
                <span class="error text-small block" ng-if="FormEdit.TiposPag.$dirty && FormEdit.TiposPag.$invalid">Informe o Tipo de Pagamento</span>
            </td>
            <td>
                <div class="checkbox clip-check check-primary">
                    <input type="checkbox" id="isPersonal"
                           ng-model="m.isPersonal">
                    <label for="isPersonal"> Personal </label>
                </div>
            </td>
            <td  ng-class="{'has-error':FormEdit.ValorPersonal.$dirty && FormEdit.ValorPersonal.$invalid, 'has-success':FormEdit.ValorPersonal.$valid}" class="width-200">
                <input name="ValorPersonal" ng-if="m.isPersonal" ng-disabled="!m.isPersonal" mask-money class="form-control" type="text" ng-model="m.ValorPersonal" placeholder="Valor Pago Personal R$..." required/>
                <span class="error text-small block" ng-if="FormEdit.ValorPersonal.$dirty && FormEdit.ValorPersonal.$invalid">Informe o Valor do Personal</span>
            </td>
            <td>
                <div class="pull-right">              
                    <button type="submit" class="btn btn-primary btn-sm" tooltip-placement="top" tooltip="Salvar"><i class="fa fa-check" /></button>
                    <button type="submit" class="btn btn-primary btn-sm" tooltip-placement="top" tooltip="Cancelar" ng-click="setEditId(-1)"><i class="fa fa-close" /></button>           
                </div>
            </td>
        </tr>
    </table>
    <!-- class="editRowTd" -->
</form>