<div class="modal-header">
    <h3 class="modal-title">Mensalidades</h3>
</div>
<div class="modal-body">
    <div ng-show="vm.mensalidades != ''">
        <table ng-table="tableParams" class="table">
            <tbody ng-repeat="m in $data">
                <tr id="tr{{m.MensalidadesId}}" ng-class-odd="'odd'" ng-class-even="'even'">
                    <td class="rowTd" data-title="'Mês'"            sortable="'MesReferencia'">{{m.MesReferencia}}</td>
                    <td class="rowTd" data-title="'Ano'"            sortable="'AnoReferencia'">{{m.AnoReferencia}}</td>
                    <td class="rowTd" data-title="'Valor Pago'"     sortable="'ValorPago'">    {{m.ValorPago | currency:"R$"}}</td>
                    <td class="rowTd" data-title="'Data Pagamento'" sortable="'DataPagamento'">{{m.DataPagamento | date:'dd/MM/yyyy'}}</td>
                    <td class="center">
                        <div class="visible-md visible-lg hidden-sm hidden-xs">
                            <a ng-click="setEditId(m.MensalidadesId)" class="btn btn-transparent btn-xs" tooltip-placement="top" tooltip="Editar" id="editRowBtn{{m.MensalidadesId}}"><i class="fa fa-pencil"></i></a>
                            <a ng-click="delete(m.MensalidadesId)" class="btn btn-transparent btn-xs" tooltip-placement="top" tooltip="Excluir"><i class="fa fa-times"></i></a>
                        </div>
                    </td>
                </tr>
                <tr ng-show="editId===m.MensalidadesId" ng-if="editId===m.MensalidadesId">
                    <td colspan="5" ng-include src="'app/views/mensalidades/edit.html'"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div ng-show="vm.mensalidades == ''">
        - Nenhuma mensalidade registrada para esse cliente
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-o" ng-click="vm.cancel()">Fechar</button>
</div>