<div class="modal-header">
    <h3 class="modal-title">Produtos</h3>
</div>
<div class="modal-body col-md-12">
    <div class="row">
        <div class="col-md-12">
            <table ng-table="tableParams" class="table">
                <tbody ng-repeat="p in vm.produtos">
                <tr ng-class-odd="'odd'" ng-class-even="'even'">
                    <td class="rowTd" data-title="'Produto'">{{p.Estoque.Produtos.Nome}}</td>
                    <td class="rowTd" data-title="'Qtde.'">{{p.Quantidade}}</td>
                    <td class="rowTd" data-title="'Valor'"><span class="text-primary"> {{p.Estoque.ValorUnitario | currency}} </span></td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="2"></td>
                    <td colspan="2"> <span class="text-primary text-bold"> Total:  {{total | currency}} </span></td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<div class="modal-footer">    
    <button type="button" class="btn btn-primary btn-o" ng-click="vm.cancel()">Fechar</button>
</div>
