<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle">Vendas</h1>
            <span class="mainDescription">Por padrão é listado as vendas do mês atual em ordem da Data de Venda</span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<div ng-show="loading"><img src="/assets/images/loading.gif" />Carregando vendas...</div>
<div class="container-fluid container-fullw bg-white" ng-show="!loading">
    <div ng-include src="'app/views/vendas/partial/searchVendas.html'"></div>
    <div class="row">
        <div class="col-md-6">
            <button type="button" ng-disabled="createTipo" class="btn btn-primary btn-wide btn-scroll btn-scroll-top ti-plus" ng-click="openCadastrar()">
                <span>Nova Venda</span>
            </button>
        </div>
        <div class="col-md-6">
            <h5 class="pull-right ">Total: <span class="badge badge-info">{{total}}</span></h5>
        </div>
    </div><br />
    <div class="row">
        <div class="col-md-12">
            <span class="input-icon">
                <input type="text" ng-model="searchText" class="input-sm form-control" placeholder="Pesquisar...">
                <i class="ti-search"></i>
            </span><br />
            <table ng-table="tableParams" class="table">
                <tbody ng-repeat="v in $data">
                    <tr id="tr{{v.VendaId}}" ng-class-odd="'odd'" ng-class-even="'even'">
                        <td class="rowTd" data-title="'Cliente'"><span ng-show="v.ClienteId != null">{{v.Cliente.Nome}}</span><span ng-show="v.Descricao != null">{{v.Descricao}}</span></td>
                        <td class="rowTd" data-title="'Data Venda'">{{v.DataVenda | date:'dd/MM/yyyy'}}</td>
                        <td class="rowTd" data-title="'Data Venc.'">{{v.DataVencimento | date:'dd/MM/yyyy'}}</td>
                        <td class="rowTd" data-title="'Data Pag.'">{{v.DataPagamento | date:'dd/MM/yyyy'}}</td>
                        <td class="rowTd" data-title="'Tipo Pag.'">{{v.TipoPagamento.Descricao}}</td>
                        <td class="rowTd" data-title="'Situação'">{{v.Receitas.Situacao}}</td>
                        <td class="rowTd" data-title="'Valor Total'"><span class="text-primary">{{v.ValorTotal | currency}}</span></td>
                        <td class="text-right">
                            <div class="visible-md visible-lg hidden-sm hidden-xs">
                                <a ng-click="openProdutos(v.VendaId)" class="btn btn-transparent btn-xs tooltips" tooltip-placement="top" tooltip="Produtos"><i class="fa fa-list-ul"></i></a>
                                <a ng-click="setEditId(v.VendaId)" class="btn btn-xs" tooltip-placement="top" tooltip="Editar" id="editRowBtn{{v.VendaId}}"><i class="fa fa-pencil"></i></a>
                                <a ng-click="delete(v.VendaId)" class="btn btn-transparent btn-xs tooltips" tooltip-placement="top" tooltip="Excluir"><i class="fa fa-times"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr ng-show="editId===v.VendaId" ng-if="editId===v.VendaId">
                        <td colspan="8" ng-include src="'app/views/vendas/edit.html'"></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="6"></td>
                        <td colspan="2" class="text-bold">
                            <div class="text-primary">Total:{{totalVendas | currency:' R$ '}}</div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

