<form name="Form" id="form" novalidate ng-submit="form.submit(Form, categoria)">
    <table class="table no-bg">
        <tr>
            <td>Categoria: <span class="symbol required"></span></td>
            <td ng-class="{'has-error':Form.Nome.$dirty && Form.Nome.$invalid, 'has-success':Form.Nome.$valid}">
                <input class="form-control" type="text" name="Nome" ng-model="categoria.Nome" required>
                <span class="error text-small block" ng-if="Form.Nome.$dirty && Form.Nome.$invalid">Informe a Categoria</span>
            </td>
            <td>Descrição: </td>
            <td>
                <input class="form-control" type="text" name="Descricao" ng-model="categoria.Descricao">
            </td>
            <td colspan="2">
                <div class="pull-right">
                    <input type="submit" class="btn btn-primary btn-sm margin-right-15" value="Cadastrar">
                    <input type="button" class="btn btn-primary btn-sm margin-right-15" value="Cancelar" ng-click="cancelCreate(Form)">
                </div>
            </td>
        </tr>   
    </table>
    <!-- class="editRowTd" -->
</form>
