<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle">Categoria dos Produtos</h1>
            <span class="mainDescription">
            </span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<div ng-show="loading"><img src="assets/images/loading.gif" />Carregando categorias...</div>
<div class="container-fluid container-fullw bg-white" ng-show="!loading">
    <div class="row">
        <div class="col-md-6">
            <button type="button" ng-disabled="createTipo" class="btn btn-primary btn-wide btn-scroll btn-scroll-top ti-plus" ng-click="createCategoria = !createCategoria">
                <span>Cadastrar</span>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table">
                    <tr ng-show="createCategoria">
                        <td colspan="12" ng-include src="'app/views/produtosCategoria/create.html'"></td>
                    </tr>
                </table>
                <table ng-table="tableParams" class="table">

                    <tbody ng-repeat="c in $data">
                    <tr id="tr{{c.ProdutoCategoriaId}}" ng-class-odd="'odd'" ng-class-even="'even'">
                        <td class="rowTd" data-title="'Nome'" sortable="'Nome'">{{c.Nome}}</td>  
                        <td class="rowTd" data-title="'Descricao'" sortable="'Descricao'">{{c.Descricao}}</td>
                        <td class="text-right">
                            <div class="visible-md visible-lg hidden-sm hidden-xs">
                                <a ng-click="setEditId(c.ProdutoCategoriaId)" class="btn btn-transparent btn-xs" tooltip-placement="top" tooltip="Editar" id="editRowBtn{{c.ProdutoCategoriaId}}"><i class="fa fa-pencil"></i></a>
                                <a ng-click="delete(c.ProdutoCategoriaId)" class="btn btn-transparent btn-xs tooltips" tooltip-placement="top" tooltip="Excluir"><i class="fa fa-times"></i></a>
                            </div>
                        </td>
                    </tr>
                        <tr ng-show="editId===c.ProdutoCategoriaId" ng-if="editId===c.ProdutoCategoriaId">
                            <td colspan="3" ng-include src="'app/views/produtosCategoria/edit.html'"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


