<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle">Clientes</h1>
            <span class="mainDescription">Gerenciamento dos Clientes</span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>

<!-- start: INLINE EDIT EXAMPLE -->
<div class="container-fluid container-fullw">
    <div class="row">
        <div class="col-md-12">
            <div>
                <div class="row margin-bottom-10">
                    <div class="col-md-12">
                        <button ng-click="refresh()" class="btn btn-error pull-right">
                            Refresh
                        </button>
                        <button ng-click="tableParams.sorting({})" class="btn btn-default pull-right">
                            Limpar Filtros
                        </button>
                    </div>
                </div>
                <div class="table-responsive">
                    <table ng-table="tableParams" class="table">
                        <tbody ng-repeat="p in $data">
                            <tr ng-class-odd="'odd'">
                                <td class="rowTd" data-title="Foto">
                                    <img ng-src="{{p.Path}}" class="img-rounded" width="80" height="60" />
                                </td>
                                <td class="rowTd" data-title="'Nome'" sortable="'Nome'">{{p.Nome}}</td>
                                <td class="rowTd" data-title="'E-mail'" sortable="'Email'">{{p.Email}}</td>
                                <td class="rowTd" data-title="'CPF'">{{p.Cpf | cpf}}</td>
                                <td class="rowTd" data-title="'Telefone'">{{p.Telefone | telefone}}</td>
                                <td class="rowTd" data-title="'Celular'">{{p.Celular | telefone}}</td>
                                <td class="rowTd" data-title="'Status'">{{p.IsAtivo}}</td>
                                <td class="rowTd" data-title="'Situação'"><span class="label" ng-class="{'label-warning': p.Situacao == 'Pendente', 'label-success': p.Situacao == 'Regular', 'label-inverse': p.Situacao == 'Inativo'}"> {{p.Situacao}}</span></td>
                                <td class="rowTd" data-title="'Endereço'">{{p.Endereco}} </td>
                                <td class="center">
                                    <div class="visible-md visible-lg hidden-sm hidden-xs">                                        
                                        <a ui-sref="app.clientes.editar({id: p.ClienteId})" class="btn btn-transparent btn-xs" tooltip-placement="top" tooltip="Editar"><i class="fa fa-pencil"></i></a>
                                        <a ui-sref="app.clientes.ficha({id: p.ClienteId})" class="btn btn-transparent btn-xs tooltips" tooltip-placement="top" tooltip="Share"><i class="fa fa-share"></i></a>
                                        <a ng-click="openMensalidades(p.ClienteId)" class="btn btn-transparent btn-xs tooltips" tooltip-placement="top" tooltip="Mensalidades"><i class="fa fa-money"></i></a>
                                        <a ng-click="createMensalidade(p.ClienteId)" class="btn btn-transparent btn-xs tooltips" tooltip-placement="top" tooltip="Pagamento"><i class="fa fa-dollar"></i></a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end: INLINE EDIT EXAMPLE -->
