<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle">Clientes</h1>
            <span class="mainDescription">Gerenciamento dos Clientes</span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>

<!-- start: INLINE EDIT EXAMPLE -->
<div class="container-fluid container-fullw">
    <div ng-include src="'app/views/cliente/partial/partialSearch.html'"></div>
    <div class="row">
        <div class="col-md-12">
            <div>
                <div class="row margin-bottom-10">
                    <div class="col-md-12">
                        <h5 class="pull-left ">Total: <span class="badge badge-info">{{total}}</span></h5>

                        <!--<button type="button" class="btn btn-default btn-sm btn-warning dropdown-toggle pull-right" ng-click="refresh()"><span class="glyphicon glyphicon-refresh"></span></button>-->
                        <div class="button-group pull-right margin-right-10">
                            <button type="button" class="btn btn-default btn-sm btn-dark-grey dropdown-toggle" data-placeholder="false" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span> <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li ng-repeat="col in vm.cols">
                                    <input type="checkbox" id="{{col.title}}" ng-model="col.show">
                                    <label for="{{col.title}}">{{col.title}}</label>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
                
                <div class="table-responsive">
                    <table ng-table="tableParams" class="table table-striped">
                        <tr ng-repeat="p in $data">
                            <td class="rowTd" title="vm.cols[0].title" ng-show="vm.cols[0].show">
                                <img ng-if="p.Path !== null" ng-src="{{p.Path}}" class="img-rounded" width="70" height="60" />
                                <img ng-if="p.Path == null" ng-src="/assets/images/default-user.png" class="img-rounded" width="70" height="60" />
                            </td>
                            <td class="rowTd" title="vm.cols[1].title" ng-show="vm.cols[1].show" sortable="'Nome'">{{p.Nome}}</td>
                            <td class="rowTd" title="vm.cols[2].title" ng-show="vm.cols[2].show">{{p.Endereco}}</td>
                            <td class="rowTd" title="vm.cols[3].title" ng-show="vm.cols[3].show">{{p.Cpf | cpf}}</td>
                            <td class="rowTd" title="vm.cols[4].title" ng-show="vm.cols[4].show" sortable="'Email'">{{p.Email}}</td>
                            <td class="rowTd" title="vm.cols[5].title" ng-show="vm.cols[5].show">{{p.Telefone | telefone}}</td>
                            <td class="rowTd" title="vm.cols[6].title" ng-show="vm.cols[6].show">{{p.Celular | telefone}}</td>
                            <td class="rowTd" title="vm.cols[7].title" ng-show="vm.cols[7].show" sortable="'DtNascimento'">{{p.DtNascimento | date:'dd/MM/yyyy'}}</td>
                            <td class="rowTd" title="vm.cols[8].title" ng-show="vm.cols[8].show" sortable="'DtInscricao'">{{p.DtInscricao | date: 'dd/MM/yyyy'}}</td>
                            <td class="rowTd" title="vm.cols[9].title" ng-show="vm.cols[9].show"><span class="label" ng-class="{'label-warning': p.Situacao == 'Pendente', 'label-success': p.Situacao == 'Regular', 'label-inverse': p.Situacao == 'Inativo'}"> {{p.Situacao}}</span></td>
                            <td class="text-right">
                                <div class="visible-md visible-lg hidden-sm hidden-xs">
                                    <a ui-sref="app.clientes.editar({id: p.ClienteId})" class="btn btn-transparent btn-xs" tooltip-placement="top" tooltip="Editar"><i class="fa fa-pencil"></i></a>
                                    <a ng-click="openHorarios(p)" class="btn btn-transparent btn-xs" tooltip-placement="top" tooltip="Horários"><i class="fa fa-clock-o"></i></a>
                                    <a ng-click="openMensalidades(p.ClienteId)" class="btn btn-transparent btn-xs tooltips" tooltip-placement="top" tooltip="Mensalidades"><i class="fa fa-money"></i></a>
                                    <a ng-click="createMensalidade(p.ClienteId)" class="btn btn-transparent btn-xs tooltips" tooltip-placement="top" tooltip="Pagamento"><i class="fa fa-dollar"></i></a>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end: INLINE EDIT EXAMPLE -->